.heady{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url(./images/R\ \(3\).jpeg);
    background-size: cover; /* Set the width and height you want */
    background-repeat: no-repeat;
    margin-bottom: none;
    padding-bottom: none;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
#header > div > main > h1{
    font-size: 4rem;
}
#header > div > main > p:nth-child(2){
    font-size: 3rem;
}
p {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#about{
    padding-top: 6rem;
    margin-top: none;
    background-color: whitesmoke;
    color: black;
    padding-bottom: 2rem;
}

#about > div > div{
  background-color: white;
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.experience{
  background-color: whitesmoke;
  color: black;
  border: none;
  border-top: none;
  margin-top: none;

}
body > section.experience > div > h4{
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 5rem;
  padding-top: 5rem;
  color: black;
}
body > section.experience > div > div{
  background-color: white;
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  border-radius: 1rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 15px 0 rgba(0, 0, 0, 0.2);
}
#about > div > div > div > div > div > div:nth-child(1) > div.row > div.col-sm-6.col-md-7 > div > p:nth-child(1) > span.title-s{
  font-weight: bold;
}
#about > div > div > div > div > div > div:nth-child(1) > div.row > div.col-sm-6.col-md-7 > div > p:nth-child(2) > span.title-s{
  font-weight: bold;
}
#about > div > div > div > div > div > div:nth-child(1) > div.row > div.col-sm-6.col-md-7 > div > p:nth-child(3) > span.title-s{
  font-weight: bold;
}
#about > div > div > div > div > div > div:nth-child(1) > div.row > div.col-sm-6.col-md-7 > div > p:nth-child(4) > span.title-s{
  font-weight: bold;
}
#experience{
  background-color: whitesmoke;
}
body > section.contact-me{
  background-image: url(./images/laptop.jpeg);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#contact > div > div:nth-child(2) > div.more-info > div{
  padding-top: 6rem;
  color: rgba(228, 215, 215, 0.863);
}
#contact > div > div:nth-child(2) > div.more-info > div > div > div:nth-child(5){
  padding-top: 2rem;
}

